Good morning, team. Here's what happened yesterday at StackStorm.

*Pull Requests* (StackStorm organization)
{% if github.stackstorm.pulls %}
    {% for issue in github.stackstorm.pulls -%}
    * <{{ issue.repository.html_url }}|{{ issue.repository.name }}>: <{{  issue.pull_request.html_url }}|{{ issue.title }}> by <{{ issue.user.html_url }}|{{ issue.user.login }}>
    {% endfor %}
{% else %}
None.
{% endif %}

*Issues:* (StackStorm organization)
{% if github.stackstorm.issues %}
    {% for issue in github.stackstorm.issues -%}
    * <{{ issue.repository.html_url }}|{{ issue.repository.name }}>: <{{ issue.html_url }}|{{ issue.title }}> by <{{ issue.user.html_url }}|{{ issue.user.login }}>
    {% endfor %}
{% else %}
None.
{% endif %}

*Forum Posts* (*{{ forum_posts|length }}* new post(s))
{% if forum_posts %}
    {% for post in forum_posts -%}
    * <{{ post.link }}|{{ post.title }}> by {{ post.author }}
    {% endfor %}
{% else %}
None.
{% endif %}
