{% if pulls %}*Pull Requests*
{% for pull in pulls %}* <{{ pull.base.repo.html_url }}|{{ pull.base.repo.name }}>: <{{ pull.html_url }}|{{ pull.title }}> by <{{ pull.user.html_url }}|{{ pull.user.name }}>
{% endfor %}
{% endif %}{% if issues %}*Issues:*
{% for issue in issues %}* <{{ issue.repository.html_url }}|{{ issue.repository.name }}>: <{{ issue.html_url }}|{{ issue.title }}> by <{{ issue.user.html_url }}|{{ issue.user.name }}>
{% endfor %}{% endif %}

{% if forum_posts %}*Forum Posts* (*{{ new_forum_post_count }}*) new post(s)
{% for post in forum_posts %}* <{{ post.link }}|{{ post.title }}> by {{ post.author }}
{% endfor %}{% endif %}
